*{
  margin: 10px;
  font-family: 'Karla', sans-serif;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #f7f8fb;
}
section{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile{
  font-size: 1.5rem;
}
a{
  text-decoration: none;
  transition: .3s linear;
  color: rgb(66, 133, 244);
}
a:hover{
  color: rgb(251, 188, 5);
}
img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px outset rgba(66, 133, 244);
}
