*{
  margin: 10px;
  font-family: 'Karla', sans-serif;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #f7f8fb;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile{
  font-size: 1.5rem;
  margin: 20px;
  padding: 20px;
  border: 3px solid rgb(66, 133, 244);
  background-color: rgb(226, 204, 8);
   
}
a{
  font-weight: 700;
  text-decoration: none;
  color: rgb(66, 133, 244);
}
img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px outset rgba(66, 133, 244);
}
